main .lastproject {
    position: relative;
    width: 100%;
    background: #E5E5E5;
    padding: 50px 0;
}

main .lastproject.container {
    height: auto;
} 

main .lastproject h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px;
}

  
.slider {
    position: relative;
    margin: 50px auto;
    width: 80%;
    height: 250px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.wrapper {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    z-index: 1;
}

.slides {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 10000px;
}

.slides.shifting {
    transition: left .2s ease-out;
}

.slide {
    width: 250px;
    height: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    background: #FFCF47;
    border-radius: 2px;
}

.slide img {
    width: 150%;
    object-fit: contain;
}

.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.prev,
.next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev {
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev span {
    font-size: 2em;
    color: #E55607;
}

.next {
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next span {
    font-size: 2em;
    color: #E55607;
}

.prev:active,
.next:active {
    transform: scale(.8);
}