body header {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 50px;
    display: flex;
    box-shadow: 1px 3px 5px 0px rgba(227, 227, 227 );
    justify-content: space-between;
    background-color: #F4F4F4;
}

/* LOGO */
header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    margin: 0 10px;
    width: 50px;
    height: 50px;
}

header .logo span {
    font-size: 1em;
}

/* MENU BURGER */
header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

header .menu span {
    font-size: 1em;
    color: #C7C7C7;
}

header .menu .burger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu .burger .burger-line {
    position: relative;
    width: 50%;
    height: 2px;
    background-color: #E55607;
}

header .menu .burger .burger-line::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top: 7px;
    left: 0;
    background-color: #E55607;
}

header .menu .burger .burger-line::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 7px;
    left: 0;
    background-color: #E55607;
}
/* NAVBAR */
header nav {
    display: none;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
    /* MENU BURGER */
    header .menu {
        display: none;
    }

    /* NAVBAR */
    header nav {
        display: inline-block;
    }

}
@media screen and (min-width: 1440px) {}