body header {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 50px;
    display: flex;
    box-shadow: 1px 3px 5px 0px rgba(227, 227, 227 );
    justify-content: space-between;
    background-color: #F4F4F4;
}

header .nav {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 50px;
    display: flex;
    box-shadow: 1px 3px 5px 0px rgba(227, 227, 227 );
    justify-content: space-between;
    background-color: #F4F4F4;
}

/* LOGO */
header .nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav .logo img {
    margin: 0 10px;
    width: 50px;
    height: 50px;
}

header .nav .logo .logo-txt {
    display: flex;
}

header .nav .logo .logo-txt span {
    font-size: 1em;
    margin-right: 0.5em;
}

/* MENU BURGER */
header .nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/* menu active */
header .nav .menu.active .burger .burger-line {
    background-color: black;
}

header .nav .menu.active .burger .burger-line::before {
    background-color: black;
}

header .nav .menu.active .burger .burger-line::after {
    background-color: black;
}

/* menu hover */
header .nav .menu:hover .burger .burger-line {
    background-color: black;
}

header .nav .menu:hover .burger .burger-line::before {
    background-color: black;
}

header .nav .menu:hover .burger .burger-line::after {
    background-color: black;
}

header .nav .menu span {
    font-size: 1em;
    color: #C7C7C7;
}

header .nav .menu .burger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav .menu .burger .burger-line {
    position: relative;
    width: 50%;
    height: 2px;
    background-color: #E55607;
}

header .nav .menu .burger .burger-line::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top: 7px;
    left: 0;
    background-color: #E55607;
}

header .nav .menu .burger .burger-line::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 7px;
    left: 0;
    background-color: #E55607;
}

header .nav-mobile {
    position: absolute;
    z-index: 4;
    top: -250px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #E55607;
    transition: top 0.5s ease-in-out;
}

header .nav-mobile.active {
    top: 0;
    transition: top 0.5s ease-in-out;
}

/* NAVBAR */
header .nav nav {
    display: none;
}

/* LINK CONTACT US */
header .nav .contact-us {
    display: none;
}

/* PHONE FASTER */
header .phonefaster {
    position: absolute;
    bottom: -675px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #E55607;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .phonefaster img {
    width: 30px;
    height: 30px;
    z-index: 5;
}


/* view UP */
header .up {
    display: none;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
    /* PHONE FASTER */
    header .phonefaster {
        display: none;    
    }
    
    /* view UP */
    header .up {
        position: absolute;
        bottom: -675px;
        right: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid #E55607;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header .up img {
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        z-index: 5;
        animation: up 2s 0s infinite ease-in;
    }

    @keyframes up {
        0% { top: 25px; }
        50% { top: 10px; }
        100% { top: 0px; }
    }

    /* LOGO */
    header .nav .logo .logo-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    header .nav .logo .logo-txt span {
        font-size: 1.5em;
        margin-right: 0;
        font-weight: 700;
    }

    /* MENU BURGER */
    header .nav .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    /* MENU BURGER */
    header .nav .menu {
        display: none;
    }

    /* NAVBAR */
    header nav {
        display: inline-block;
    }

    body header {
        height: 80px;
    }

    header .nav {
        height: 80px;
    }

    /* NAVBAR */
    header .nav nav {
        display: inline-flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    header .nav nav a {
        margin: 0 20px;
        text-decoration: none;
        color: black;
        font-size: 1em;
    }

    header .nav nav a:hover {
        color: #E55607;
    }

    /* LINK CONTACT US */
    header .nav .contact-us {
        display: inline-flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        width: 150px;
        background-color: #E55607;
        color: #F4F4F4;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
    }

    header .nav .contact-us:hover {
        background-color: #717171;
        color: #E55607;
    }

}
@media screen and (min-width: 1440px) {}