main .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container .login {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #192229;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 4px 5px 4px -1px rgba(250,149,0,0.76);
}

main .container .login .login-title {
    padding: 0.5em;
    border-bottom: 2px solid #FA9500;
}

main .container .login .login-title h2 {
    font-size: 1.5em;
    color: #FA9500; 
}

main .container .login .form {
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .container .login .form input {
    width: 250px;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 0.5em;
    border: none;
    border-left: 3px solid #FA9500;
    border-top: 3px solid #FA9500;
    background-color: #FBFBFF;
    border-radius: 15px;
    outline: none;
}

main .container .login .form button {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: #FBFBFF;
    border: none;
    color: #FA9500;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    box-shadow: 2px 2px 8px 4px rgba(250,250,250,0.6);
    outline: none;
    cursor: pointer;
}

main .container .login .form button:hover {
    color: #FBFBFF;
    background-color: #FA9500;
}