
body main {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
}

main .section {
    width: 100%;
    height: 100%;
    padding: 20px;
}

/* TOP MAIN WITH BREADCRUMP */
main .section .topMain {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #E5E7E9;
}

main .section .topMain h3 {
    font-size: 1.2em;
    font-weight: 700;
}

main .section .topMain h3 .endtitle {
    text-transform: uppercase;
    color: #192229;
    padding: 0.5em;
    border: 2px solid #FA9500;
}

main .section .topMain .breadcrumper {
    margin-top: 10px;
}

main .section .topMain .breadcrumper span {
    color: #FA9500;
}

main .section .topMain .breadcrumper .breadcrumper_link {
    color: #192229;
    outline: none;
    text-decoration: none;
}

main .section .board {
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px 0;
}



/* SHEET SECTION */

@media screen and (min-width: 1024px) {
    main .section {
        position: relative;
        float: right;
        width: calc(100% - 350px);
        height: 100%;
    }

    main .section .topMain h3 {
        font-size: 1.3em;
    }

    main .section .board .itemslist {
        width: 100%;
        height: 100%;
    }

    main .section .board .itemslist .items {
        width: 100%;
        height: 50px;
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }

    main .section .board .itemslist .row-title {
    }

    main .section .board .itemslist .items li {
        flex: 1;
        box-sizing: border-box;
        margin-right: 0.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e5e5e5;
        font-size: 1em;
        font-weight: 100;
        
    }
    
    main .section .board .itemslist .row-users .item {
        background-color: #fbfbff;
        border-bottom: 1px solid #e5e5e5;
        font-size: 0.8em;
        font-weight: 100;
        overflow-x: auto;
    }
}