
body main {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
}

main .section {
    width: 100%;
    height: 100%;
    padding: 20px;
}

main .section .topMain {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    main .section {
        position: relative;
        float: right;
        width: calc(100% - 350px);
        height: 100%;
    }
}