*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #FBFBFF;
    font-family: 'Raleway', sans-serif;
}

body .container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

/* HEADER ADMIN */
header {
    width: 350px;
    height: 100vh;
    background-color: #192229;
    padding-top: 50px;
}

header .head-admin {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 30px 10px;
    border: 1px solid #FA9500;
}

header .head-admin h1 {
    color: #F4F4F4;
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    height: 100%;
}

header .head-admin h1 span:first-child {
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #F4F4F4;
}

header nav {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

header nav h2, a {
    font-size: 1em;
    color: #F4F4F4;
}

header nav h2 {
    margin-bottom: 10px;
}

header nav h2 span {
    position: relative;
    font-weight: 400;
}

header nav h2 span::after{
    position: absolute;
    content: "";
    top: 26px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FA9500;
}

header nav a {
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 300;
}

header nav a:hover {
    color: #FA9500;
}

header nav a::before{
    position: absolute;
    content: '';
    top: 15px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #FA9500;
}
